/* enigma-final.css */

body {
    margin: 0;
    padding: 0;
    background: #0a0a0f;
    color: #eaeaea;
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    font-size: 2rem;
    color: #9f5bff;
    margin-bottom: 10px;
    text-shadow: 0 0 10px #9f5bff;
}

#timer {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #ffffff;
    text-shadow: 0 0 12px #8f4dff;
}

.enigma-box {
    background: #14141d;
    padding: 25px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 0 15px rgba(159, 91, 255, 0.4);
}

p.simbolos {
    font-size: 1.3rem;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 20px;
    color: #d1c3ff;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    font-size: 1rem;
    border-radius: 8px;
    border: none;
    outline: none;
    background: #1d1d29;
    color: #ffffff;
    resize: none;
}

button {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    font-size: 1.1rem;
    border: none;
    border-radius: 8px;
    background: #9f5bff;
    color: #ffffff;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(159, 91, 255, 0.5);
}

button:hover {
    background: #b47aff;
    box-shadow: 0 0 14px rgba(180, 122, 255, 0.7);
}
